.card {
    height: 100%;
    width: 100%;

    &__content-info {
        display: flex;
        padding: rem(20);

        @media #{$global-break-md} {
            align-items: center;
        }
    }
    &__text-box,
    &__icon {
        width: 50%;
    }

    &__box,
    &__text-box {
        color: $color-white;
    }

    &__today {
        padding-bottom: rem(20);
    }

    &__box-info,
    &__today-info,
    &__status-info,
    &__status-air {
        display: block;
        font-weight: bold;
        padding-bottom: rem(5);
    }
    &__status-info
    &__status-air {   
        padding: rem(1);
    }
    &__status-info {
        font-size: rem(16);
        @media #{$global-break-md}{
            font-size: rem(20);
        }
    }
    &__today-info {
        text-transform: uppercase;
        font-weight: bold;
        font-size: rem(16);

        @media #{$global-break-md}{
            font-size: rem(20);
        }
    }
    &__icon {
        font-size: rem(120);
        margin: 0 auto;

        @media #{$global-break-md}{
            font-size: rem(200);
            margin: 0;
        }

    }

    &--noInfo {
        .card__content-info {
            background-color: $color-grey-light;
        }
        .card__box--tomorrow {
            background-color: $color-grey-medium;
        }
        .card__box--after{
            background-color: $color-grey-dark;
        }
        .card__box-wrapper,
        .card__text-box {
            display: none;
        }
        .card__icon:before {
            color: $color-white;
            font-family: 'MeteoconsRegular';
            content: ')'; 
        }
        
    }
    &--normal {
        .card__content-info {
            background-color: $color-yellow-light;
        }
        .card__box--tomorrow {
            background-color: $color-yellow-medium;
        }
        .card__box--after{
            background-color: $color-yellow-dark;
        }
        .card__icon:before {
            color: $color-white;
            font-family: 'MeteoconsRegular';
            content: 'B'; 
        }
    }
    &--sunny {
        .card__content-info {
            background-color: $color-red-light;
        }
        .card__box--tomorrow {
            background-color: $color-red-medium;
        }
        .card__box--after{
            background-color: $color-red-dark;
        }
        .card__icon:before {
            color: $color-white;
            font-family: 'MeteoconsRegular';
            content: 'B'; 
        }
    }

    &--cold {
        .card__content-info {
            background-color: $color-blue-light;
        }
        .card__box--tomorrow {
            background-color: $color-blue-medium;
        }
        .card__box--after{
            background-color: $color-blue-dark;
        }
        .card__icon:before {
            color: $color-white;
            font-family: 'MeteoconsRegular';
            content: 'W'; 
        }
    }

    &__box {
        display: flex;
        justify-content: flex-end;
        padding: rem(10) 0;
    }
    &__box-wrapper{
        width: 50%;
    }

    &__city-info {
        display: flex;
        align-items: center;
        background-color: $color-grey-lighter;
        padding: rem(20);
        font-size: rem(16);

        @media #{$global-break-md}{
            font-size: rem(20);
        }
    }

    &__city-icon:before {
        font-size: rem(30);
        margin-right: rem(10);
        color: $color-grey-dark;
        font-family: 'MeteoconsRegular';
        content: '(';
    }
    &__celsius,
    &__fahrenheit {
        font-size: rem(12);
        font-weight: normal;
    }

    &__meters {
        cursor: pointer;
        margin-left: rem(5);
        &--celsius {
            .card__celsius {
                font-size: rem(20);
                font-weight: bold;
            }
        }
        &--fahrenheit {
            .card__fahrenheit {
                font-size: rem(20);
                font-weight: bold;
            }
        }
    } 
}