.input {
    &__city-info {
        display: flex;
        align-items: center;
        background-color: $color-grey-lighter;
        padding: rem(20);
        font-size: rem(20);
    }

    &__city-icon:before {
        font-size: rem(30);
        margin-right: rem(10);
        color: $color-grey-dark;
        font-family: 'MeteoconsRegular';
        content: '(';
    }
}